

/* --------- *\
  HTML, BODY
\* --------- */
html,
body {
	//@include font-smoothing(on);
	font-size:100%;

	@media (min-width: $screen-md) {
  	font-size:105%;
	}
	@media (min-width: $screen-lg) {
 		font-size:110%;
	}
}//html,body


body {
  padding-top: 70px;
}



/* --------- *\

\* --------- */



/* --------- *\

\* --------- */


/* --------- *\

\* --------- */


/* --------- *\

\* --------- */


/* --------- *\

\* --------- */


/* --------- *\

\* --------- */


/* --------- *\

\* --------- */


/* --------- *\

\* --------- */


/* --------- *\

\* --------- */
